.related-products {
  display: block;
}

@media screen and (max-width: 749px) {
  .related-products {
    padding: 0 10px;
  }
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media screen and (min-width: 750px) {
  .related-products__heading {
    padding: 0 10px;
  }
}